:root{
    --color-primary:#f26524;
    --color-secondary: #e9ecef;
    --color-accent:#f06f3c;
    --color-headings: #000;
    --color-body: #525256;
}

html{
    font-size: 62.5%;
}

body{
    color: var(--color-body);
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}
/* Typography */
h1, h2, h3{
    color: var(--color-headings);
    margin-bottom: 2rem;
}

h1{
    font-size: 4.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

p{
    margin-top: 0;
}

/* Button */
.btn{
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    margin: 2rem;
    padding: 2rem 5rem;
    white-space: nowrap;
    transition: all .3s;
}

a{
    text-decoration: none;
}

.btn--primary{
    background-color: var(--color-primary);
    color: white;
}

.btn--secondary{
    background-color: var(--color-secondary);
    color: var(--color-headings);
}

.btn--bold{
    font-weight: 700;
}

.btn--stretched{
   padding: 2rem 18rem;   
}

.btn--primary:hover{
    background-color: #b54012;
}

.btn--secondary:hover{
    background-color: #d0d0d3;
}

/* Icons */
.icon{
    font-size: 3rem;
    
}

.icon--white{
    color: white;
}

.icon--black{
    color: var(--color-headings);
}

/* inputs */
.input{
    border-radius: 30px;
    font-size: 1.5rem;
    margin: 3rem;
    outline: 0;
    width: 50rem;
    padding: 1.2rem 3rem;
    
}

.input--primary{
    border: 1.5px solid lightgray;
    color: var(--color-body);
    transition: border .2s, box-shadow .2s;
    text-align: center;
}

.input--primary:focus{
    border: 2.5px solid pink;
    box-shadow: 0 0 13px pink;
}

.input--secondary{
  border: 1.5px solid lightgrey; 
}

.input--secondary::placeholder{
    color: grey;
}

/* Links */
.link{
    color: #1ca78b;
    letter-spacing: .05rem;
    text-decoration: underline;

}

.link:hover{
    color: darkblue;
}