:root{
    --color-primary:#f26524;
    --color-secondary: #e9ecef;
    --color-accent:#f06f3c;
    --color-headings: #000;
    --color-body: #525256;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Raleway', sans-serif;
    color: var(--color-body);
    line-height: 1.5;
    font-size: 2rem;
}
/* Typography */
h1, h2, h3{
    color: var(--color-headings);
    margin-bottom: 2rem;
}

h1{
    font-size: 4.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

p{
    margin-top: 0;
}
